.listContainer {
	gap: 16px;
	display: flex;
	flex-direction: column;
}

.listWrapper {
	padding: 6px;
	border-radius: 9px;
	transition: 200ms ease-in-out;
	border: 2px solid var(--grey-main);
	background-color: var(--white-secondary);
}

.listWrapper:hover {
	border: 2px solid var(--blue-main);
}

.list {
	height: 200px;
	padding: 4px 12px;
	overflow-y: scroll;
}
