.background {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: red;
    min-height: 540px;
}

.rightSide {
	position: relative;
	width: 40%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--blue-main);
	height: 100%;
	padding: 64px 32px;
	justify-content: space-evenly;
	min-width: 400px;
}

.titleContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	gap: 32px;
	margin-bottom: 32px;
}

.titleContainer h1,
.titleContainer h2 {
	color: var(--white-main);
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 16px;
	margin-bottom: 32px;
}

.dontHaveAnAccount {
	color: white;
	text-align: center;
}

.dontHaveAnAccount span {
	font-weight: 600;
	cursor: pointer;
}

.leftSide {
    min-height: 400px;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 64px 64px 0px 64px;
	background-color: white;
}

.leftSide img {
    width: 70%;
    max-width: 460px;
	min-width: 340px;
}