.background {
	width: 100%;
	height: 100%;
	gap: 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.topFlex,
.bottomFlex,
.backgroundFlex {
}

.top {
	gap: 16px;
	display: flex;
	flex-direction: column;
}

@media screen and (max-height: 480px) {
	.backgroundFlex {
		flex-direction: row;
	}

	.topFlex,
	.bottomFlex {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}
}
