@import url('./imports.css');

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	background-color: whitesmoke;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--error-background: #ffccc4;
	--error-font-color: #ff0000;
	--blue-main: #1da1f2;
	--white-main: #ffffff;
	--white-secondary: whitesmoke;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
