@import url('./imports.css');

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	background-color: whitesmoke;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--pink: #de5d83;
	--green: #00755e;
	--yellow: #f8cc5c;
	--purple: #4e2a84;
	--error-background: #ffccc4;
	--error-font-color: #ff0000;
	--blue-main: #1da1f2;
	--white-main: #ffffff;
	--white-secondary: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
	font-weight: 500;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline-color: var(--blue-main);
}

::-webkit-scrollbar {
	height: 7px;
	width: 7px;
	color: transparent;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 2rem;
	background-color: rgb(177, 177, 177);
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--blue-main);
}

::-webkit-scrollbar-track {
	background-color: rgb(223, 223, 223);
	border-radius: 2rem;
}
