@import url('./imports.css');

:root {
	line-height: 1.5;
	font-weight: 400;

	--red-main: #fc5757;
	--lime-main: #04b31b;
	--blue-main: #1da1f2;
	--cyan-main: #00bfff;
	--pink-main: #e91e63;
	--grey-main: #c7c7c7;
	--green-main: #00bea5;
	--white-main: #ffffff;
	--yellow-main: #ecc40f;
	--purple-main: #9c27b0;
	--orange-main: #ff9800;
	--deep-puprle: #673ab7;
	--white-secondary: #f5f5f5;
	--error-background: #ffccc4;
	--error-font-color: #ff0000;

	font-synthesis: none;
	background-color: whitesmoke;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.remove-transitions * {
	transition: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
	font-weight: 500;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-family);
	outline-color: var(--blue-main);

	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	-o-user-drag: none;
	-moz-user-drag: none;
	-khtml-user-drag: none;
	-webkit-user-drag: none;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	color: transparent;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 2rem;
	background-color: rgb(177, 177, 177);
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--blue-main);
}

::-webkit-scrollbar-track {
	background-color: rgb(223, 223, 223);
	border-radius: 2rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
