.button {
	width: 38px;
	height: 38px;
	display: flex;
    cursor: pointer;
	align-items: center;
	border-radius: 9px;
	justify-content: center;
	transition: 200ms ease-in-out;
	background-color: var(--blue-main);
	border: 1px solid var(--blue-main);
}

.button > * {
	color: var(--white-main);
}


.button:hover {
    background-color: var(--white-main);
}

.button:hover > * {
    color: var(--blue-main);
}