.input {
	width: 100%;
	position: relative;
}

.dropdownWrapper {
	width: 100%;
	padding: 6px;
	position: absolute;
	z-index: 1;
	border-radius: 9px;
	transition: 200ms ease-in-out;
	border: 2px solid var(--blue-main);
	background-color: var(--white-secondary);
}

.dropdown {
	width: 100%;
	overflow-y: auto;
	max-height: 164px;
	background-color: var(--white-secondary);
}

.result {
	width: 100%;
	border: none;
	cursor: pointer;
	padding: 6px 0px;
	background-color: transparent;
}
