.background {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.noBoards {
	height: 64px;
	width: 100%;
	text-align: center;
	color: grey;
	margin: 58px 0px;
}

.noWorkspaces {
	width: 100%;
	height: 64px;
	color: grey;
	margin: 182px 0px;
	text-align: center;
	align-self: center;
	justify-content: center;
}

.grid {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 16px;
	grid-template-areas:
		'boards 	boards 		   boards 		 boards		   boards  boards'
		'workspaces workspaces     workspaces complete-tasks total-boards   total-workspaces'
		'workspaces workspaces workspaces pending-tasks  pending-tasks   total-messages';
}

.grid > *:not(.workspaces, .boards) {
	height: 100%;
	width: 100%;
	padding: 32px;
	border-radius: 16px;
	color: var(--white-main);
	transition: 200ms ease-in-out;
	box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -1px 2px 9px 0px rgba(0, 0, 0, 0.5);
}

.grid > *:not(.workspaces, .boards):hover {
	transform: scale(1.03);
}


.value {
	font-size: 32px;
	font-weight: 600;
}

.completeTasks h3 {
	align-self: flex-end;
}

.workspaces {
	grid-area: workspaces;
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	gap: 16px;
}

.inputContainer {
	width: 200px;
}

.workspaces .list > * {
	flex: 1;
}

.workspaces .list {
	gap: 16px;
	width: 100%;
	padding: 6px;
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 440px;
	justify-content: space-between;
}

.boards {
	grid-area: boards;
}

.boards .list {
	display: flex;
	gap: 16px;
	padding: 12px;
	overflow-x: auto;
}

@media screen and (max-width: 1124px) {
	.grid {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
			'boards 	   boards 	        boards 			boards'
			'workspaces    workspaces       workspaces		complete-tasks'
			'workspaces    workspaces       workspaces		pending-tasks'
			'total-boards  total-workspaces total-messages 	total-messages';
	}
}