.background {
    gap: 8px;
    width: 100%;
    display: flex;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 32px;
    flex-direction: column;
    background-color: #f5f5f5;
    justify-content: space-between;
    box-shadow: 0px 5px 7px 0px rgba(170, 170, 170, 0.75);
    -moz-box-shadow: 0px 5px 7px 0px rgba(170, 170, 170, 0.75);
    -webkit-box-shadow: 0px 5px 7px 0px rgba(170, 170, 170, 0.75);
}

.background:hover {
    cursor: grab;
}

.background:active {
    cursor: grabbing;
}

.isDragging {
    color: white;
    background-color: #1da1f2;
}

.taskImg {
    overflow: hidden;
    border-radius: 16px;
}

.taskImg img {
    width: 100%;
    height: 100%;
}

.title {
    flex-grow: 1;
    width: 100%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightSide {
    gap: 6px;
    display: flex;
    justify-content: space-between;
}

.completedSteps {
    gap: 8px;
    display: flex;
    align-items: center;
}

.completedSteps .icon {
    padding: 4px;
    font-size: 21px;
    border-radius: 4px;
    color: var(--white-main);
    background-color: var(--blue-main);
}

.completedSteps .icon.invert {
    color: var(--blue-main);
    background-color: var(--white-main);
}

.userImg {
    width: 36px;
    height: 36px;
    display: flex;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.userImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.progress {
    padding-top: 2px;
}
