.background {
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 32px;
	overflow-y: auto;
}

.header {
	display: flex;
	justify-content: space-between;
	gap: 32px;
}

.left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
	width: 100%;
	max-width: 300px;
}

.right {
	display: flex;
	align-items: center;
	gap: 32px;
	width: 50%;
	width: 480px;
}

.icon {
	font-size: 18px;
}

.titleContainer {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.inputContainer {
	width: 480px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.boardsContainer {
	display: flex;
	justify-content: space-between;
	gap: 22px;
	width: 100%;
	flex-wrap: wrap;
}

.addButton {
	flex: 1;
	color: rgb(95, 95, 95);
	font-weight: 500;
	border: 2px solid rgb(235, 235, 235);
	border-radius: 12px;
	font-size: 24px;
	height: 200px;
	min-width: 300px;
	cursor: pointer;
	box-shadow: 0px 2px 7px 0px rgba(199, 199, 199, 0.75);
	-webkit-box-shadow: 0px 2px 7px 0px rgba(199, 199, 199, 0.75);
	-moz-box-shadow: 0px 2px 7px 0px rgba(199, 199, 199, 0.75);
}

.addButton .icon {
	font-size: 64px;
	color: var(--blue-main);
}

.modalContainer {
	position: relative;
	width: 360px;
	background-color: var(--white-main);
	padding: 64px 32px 0px 32px;
	border-radius: 16px;
}

.closeBtn {
	position: absolute;
	font-size: 21px;
	top: 32px;
	right: 32px;
	cursor: pointer;
}
