.backgroundWrapper {
	width: 90%;
	height: 80%;
	padding: 8px;
	max-width: 1300px;
	position: relative;
	border-radius: 16px;
	background-color: var(--white-main);
}

.background {
	gap: 46px;
	width: 100%;
	height: 100%;
	display: flex;
	overflow-y: auto;
	flex-direction: column;
	padding: 32px 46px 32px 46px;
}

.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.closeBtn {
	color: grey;
	font-size: 36px;
	cursor: pointer;
}

.body {
	display: flex;
	justify-content: space-between;
}

.bold {
	font-weight: 600;
}

.left,
.right,
.middle {
	width: 30%;
}

/* left part */

.left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.stepOne,
.stepTwo {
	gap: 16px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

input,
select,
.textArea {
	height: 100%;
	padding: 9px;
	font-size: 16px;
	border-radius: 9px;
	background-color: whitesmoke;
	transition: 200ms ease-in-out;
	border: 2px solid var(--grey-main);
}

input:focus,
select:focus,
.textArea:focus {
	border: 2px solid var(--blue-main);
}

/* middle part */

.middle {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.taskImageContainer {
	width: 100%;
	max-height: 256px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 16px;
	overflow: hidden;
	border: 2px solid var(--grey-main);
}

.taskImg {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.priority,
.effort {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.select {
	width: 50%;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	border-radius: 9px;
	padding: 6px;
}

.timeEstimation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}

.timeEstimation .rightSide {
	display: flex;
	gap: 9px;
}

.inputDiv {
	display: flex;
	align-items: center;
	gap: 6px;
}

.inputDiv > input {
	width: 64px;
	height: 36px;
	border-radius: 9px;
	text-align: center;
	font-size: 16px;
}

/* right part */
.right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.stepContainer {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.addSteps {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.stepInputDiv {
	display: flex;
	align-items: center;
	gap: 24px;
}

.stepInputDiv > input {
	flex: 8;
}

.addStepBtn {
	width: 38px;
	height: 38px;
	cursor: pointer;
	padding: 3px 3px;
	border-radius: 9px;
	color: var(--white-main);
	transition: 200ms ease-in-out;
	border: 2px solid var(--blue-main);
	background-color: var(--blue-main);
}

.addStepBtn:hover {
	color: var(--blue-main);
	background-color: var(--white-main);
}

.assigneeInput {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.fieldTitle {
	font-size: 18px;
}

.progress {
	align-self: center;
	font-size: 21px;
}

@media screen and (max-width: 1170px) {
	.timeEstimation {
		gap: 6px;
		flex-direction: column;
	}
	.timeEstimation .rightSide {
		width: 100%;
		justify-content: space-evenly;
	}
}
