.background {
	gap: 16px;
	padding: 9px;
	height: 100%;
	display: flex;
	min-width: 300px;
	max-width: 300px;
	padding-top: 18px;
	margin-right: 32px;
	border-radius: 16px;
	align-items: center;
	flex-direction: column;
	background-color: var(--white-main);
	box-shadow: 0px 5px 7px 0px rgba(170, 170, 170, 0.75);
	-moz-box-shadow: 0px 5px 7px 0px rgba(170, 170, 170, 0.75);
	-webkit-box-shadow: 0px 5px 7px 0px rgba(170, 170, 170, 0.75);
}

.title {
	width: 100%;
	padding: 3.25px;
	font-size: 21px;
	text-align: center;
}

.tasksContainer {
	width: 100%;
	height: 100%;
	padding: 12px;
	display: flex;
	overflow-y: scroll;
	align-items: center;
	flex-direction: column;
}

.addTask {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.changeNameContainer {
	gap: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.submitBtn {
	height: 38px;
	cursor: pointer;
	min-width: 38px;
	border-radius: 0.5em;
	transition: 200ms ease-in-out;
	border: 2px solid var(--grey-main);
}

.icon {
	color: grey;
	font-size: 18px;
	transition: 200ms ease-in-out;
}

.submitBtn:hover {
	border-color: var(--blue-main);
	background-color: var(--blue-main);
}

.submitBtn:hover .icon {
	color: var(--white-main);
}

.deleteBtn {
	height: 38px;
	min-width: 38px;
	cursor: pointer;
	border-radius: 0.5em;
	transition: 200ms ease-in-out;
	border: 2px solid var(--grey-main);
}

.deleteBtn:hover {
	border-color: red;
	background-color: red;
}

.deleteBtn:hover .icon {
	color: white;
}

.confirmBtn {
	width: 100%;
	font-size: 16px;
	padding: 7px 0px;
	border-radius: 0.5em;
	border: 2px solid red;
	background-color: red;
	color: var(--white-main);
	cursor: pointer !important;
	transition: 200ms ease-in-out;
}

.confetti {
	left: 150px;
	position: relative;
}
