.background {
	position: fixed;
	top: 102px;
	left: -125px;
	padding: 12px 6px 12px 12px;
	border-radius: 0px 12px 12px 0px;
	transition: 200ms ease-in-out;
	background-color: var(--blue-main);
	display: flex;
	align-items: center;
	gap: 16px;
}

.background:hover {
	left: 0;
	.icon:last-of-type {
		transform: rotate(0);
	}
}

.icon {
	transition: 200ms ease-in-out;
	color: var(--white-main);
	cursor: pointer;
}

.icon:last-of-type {
	transform: rotate(180deg);
}
