.background {
	position: fixed;
	top: 90px;
    left: 0;
	padding: 16px 46px 16px 16px;
	border-radius: 0px 12px 12px 0px;
	transition: 200ms ease-in-out;
	background-color: var(--blue-main);
}

.hidden {
	left: -198px;
}

.toggleBtn {
	position: absolute;
    display: flex;
	top: 0;
	right: 6px;
	transition: 200ms ease-in-out;
    height: 56px;
}

.toggleBtnReverse {
	right: -28px;
	rotate: 180deg;
}

.operations {
	display: flex;
	gap: 32px;
}

.icon {
	color: var(--white-main);
    cursor: pointer;
}
