.background {
    gap: 16px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        'steps-completed tasks-completed    tasks-completed'
        'pending-tasks   pending-tasks      time-spent';
    grid-template-columns: repeat(3, 1fr);
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 16px;
    border-radius: 16px;
    color: var(--white-main);
    transition: 200ms ease-in-out;
    box-shadow: 5px 5px 9px -3px rgba(128, 128, 128, 1);
    -moz-box-shadow: 5px 5px 9px -3px rgba(128, 128, 128, 1);
    -webkit-box-shadow: 5px 5px 9px -3px rgba(128, 128, 128, 1);
}

.card:hover {
    transform: scale(1.03);
}

.stepsCompleted {
    grid-area: steps-completed;
    background-color: var(--green-main);
}

.pendingTasks {
    grid-area: pending-tasks;
    background-color: var(--lime-main) ;
}

.tasksCompleted {
    grid-area: tasks-completed;
    background-color: var(--yellow-main);;
}

.timeSpent {
    background-color: var(--orange-main) ;
}

.icon {
    font-size: 64px;
    color: rgba(255, 255, 255, 0.45);
}
