.background {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.grid {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 16px;
	grid-template-areas:
		'boards 	boards 		   boards 		 boards		   boards  boards'
		'workspaces workspaces     workspaces complete-tasks total-boards   total-workspaces'
		'workspaces workspaces workspaces pending-tasks  pending-tasks   total-messages';
}

.grid > *:not(.workspaces, .boards) {
	padding: 32px;
	color: var(--white-main);
	border-radius: 16px;
	height: 100%;
	width: 100%;
	cursor: pointer;
	box-shadow: -1px 2px 9px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: -1px 2px 9px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: -1px 2px 9px 0px rgba(0,0,0,0.5);
}

.statName {
	font-size: 24px;
}

.icon {
	font-size: 64px;
	background-color: rgba(255, 255, 255, 0.35);
	border-radius: 12px;
}

.completeTasks {
	grid-area: complete-tasks;
	background-color: var(--purple);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 32px;
}

.completeTasks .header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 24px;
}

.value {
	font-size: 32px;
	font-weight: 600;
}

.completeTasks h3 {
	align-self: flex-end;
}

.workspaces {
	grid-area: workspaces;
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	gap: 16px;
}

.inputContainer {
	width: 200px;
}

.workspaces .list > * {
	flex: 1;
}

.workspaces .list {
	display: flex;
	padding: 6px;
	justify-content: space-between;
	gap: 16px;
	width: 100%;
	flex-wrap: wrap;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 440px
}

.boards {
	grid-area: boards;
}

.boards .list {
	display: flex;
	gap: 16px;
	padding: 12px;
	overflow-x: auto;
}

.pendingTasks {
	grid-area: pending-tasks;
	background-color: var(--pink);
}

.totalBoards {
	grid-area: total-boards;
	background-color: var(--blue-main);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 32px;
}

.totalWorkspaces {
	grid-area: total-workspaces;
	background-color: var(--green);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.totalMessages {
	grid-area: total-messages;
	background-color: var(--yellow);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 32px;
}

/* pending tasks */
.pendingTasks {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 16px;
}

.pendingTasks .header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 16px;
}

.pendingTasks .header .icon,
.totalWorkspaces .bottom .icon {
	padding: 4px 8px;
}

.totalWorkspaces .bottom {
	display: flex;
	align-items: flex-end;
	gap: 16px;
	justify-content: space-between;
}

.totalMessages .bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
}

.totalMessages .bottom .icon {
	padding: 12px;
}

.totalMessages h2 {
	align-self: flex-end;
}

.totalBoards .header {
	display: flex;
	justify-content: space-between;
	gap: 32px;
}

.totalBoards .icon {
	padding: 8px;
}

@media screen and (max-width: 1124px) {
	.grid {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
			'boards 	   boards 	        boards 			boards'
			'workspaces    workspaces       workspaces		complete-tasks'
			'workspaces    workspaces       workspaces		pending-tasks'
			'total-boards  total-workspaces total-messages 	total-messages';
	}
}
