.dropdownWrapper {
	position: relative;
	width: 286px;
}

.dropdown {
	width: 100%;
	max-height: 70px;
	overflow: hidden;
	position: absolute;
	border-radius: 9px;
	border: 1px solid var(--blue-main);
	background-color: whitesmoke;
	overflow-y: auto;
}

.match {
	background-color: whitesmoke;
	padding: 4px 0px;
	text-align: center;
	cursor: pointer;
}
