.button {
	background: var(--blue-main);
	color: var(--white-main);
	padding: 8px;
	width: 100%;
	border-radius: 0.5em;
	font-size: 16px;
	border: 1px solid var(--white-main);
	cursor: pointer;
	transition: 200ms ease-in-out;
}

.button:hover {
	background-color: var(--white-main);
	color: var(--blue-main);
	border: 1px solid var(--blue-main);
}
