.container {
	width: 100%;
	padding: 6px 0px;
	text-align: center;
	border-radius: 9px;
	background-color: var(--error-background);
	border: 1px solid var(--error-font-color);
}

.errorMsg {
	color: var(--error-font-color);
}
