.background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    padding: 32px;
}

.background p {
    font-size: 18px;
    text-align: center;
}

.bold {
    font-weight: 600;
}

.operationsContainer {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
