.background {
	padding: 32px;
	display: flex;
	min-height: 200px;
	flex-direction: column;
	justify-content: space-between;
}

.background p {
	font-size: 18px;
	text-align: center;
}

.bold {
	font-weight: 600;
}

.operationsContainer {
	gap: 32px;
	display: flex;
	justify-content: space-between;
}
